body {
    margin: 0;
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: antiquewhite;
}

.menuBtns{
    display: flex;
    border-bottom: 1px solid black;
    position: relative;
}
.menuBtns div{
    padding: 1em;
    cursor:pointer;
}

.totalArea{
    margin-top: 2em;
    border: 1px solid black;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#underLine{
    height : 4px;
    background-color: blue;
    position : absolute;
    width: 70px;
    left: 0;
    top: 53px;
    padding: 0;
}